---
export interface Service {
    title: string;
    description: string;
    icon: string; // Ruta del icono SVG o imagen
}
const { title, buttonText, buttonLink } = Astro.props;
const benefits = [
    {
        title: "Chatbots AI",
        description:
            "Transforma tu negocio con una tienda en l칤nea activa 24/7 y un chatbot inteligente que responde en segundos, gu칤a a tus clientes, agenda citas, resuelve dudas y convierte visitas en ventas sin que tengas que mover un dedo",
        image: "/assets/Services/beneficios/Chatbot-benefit.svg",
    },
    {
        title: "E-commerce",
        description:
            "Impulsa tu negocio con una tienda en l칤nea dise침ada para vender las 24 horas del d칤a, que muestra tu cat치logo de productos de forma atractiva, recibe pedidos autom치ticamente, gestiona m칠todos de pago y env칤o, y te permite llegar a m치s clientes sin depender de un local f칤sico, todo desde una plataforma f치cil de usar y lista para crecer contigo.",
        image: "/assets/Services/beneficios/e-comerce-benefits.svg",
    },
];

const services: Service[] = [
    {
        title: "Chatbots",
        description: "Atenci칩n automatizada con inteligencia artificial",
        icon: "/assets/Services/Chatbot.svg",
    },
    {
        title: "E-commerce",
        description: "Tiendas online eficientes y seguras.",
        icon: "/assets/Services/e-comerce.svg",
    },
];
---

<section id="services">
    <h2>Nuestros Servicios</h2>
    <div class="services-container">
        {
            services.map((service) => (
                <div class="service-card">
                    <img
                        src={service.icon}
                        alt={service.title}
                        class="service-icon"
                    />
                    <h3>{service.title}</h3>
                    <p>{service.description}</p>
                </div>
            ))
        }
    </div>
    <div class="hook-container">
        <img
            src="/assets/Services/Atronauta.svg"
            alt="Atenci칩n"
            class="hook-icon"
        />
        <div class="hook-banner">
            <img
                src="/assets/Services/mancha.svg"
                alt="Fondo"
                class="hook-image"
            />
            <div class="hook-content">
                <h3>{title}</h3>
                <a href={buttonLink} class="benefit-btn" target="_blank"
                    >{buttonText}</a
                >
            </div>
        </div>
    </div>

    <div class="benefits-container">
        <!-- 游댳 Botones 3D a la izquierda -->
        <div class="benefits-buttons">
            {
                benefits.map((benefit, index) => (
                    <button
                        class="benefit-btn"
                        data-index={index}
                        data-image={benefit.image}
                        data-title={benefit.title}
                        data-description={benefit.description}
                    >
                        {benefit.title}
                    </button>
                ))
            }
        </div>

        <!-- 游댳 Contenido de Beneficios a la derecha -->
        <div id="benefits-content">
            <img
                id="benefit-image"
                src={benefits[0].image}
                alt={benefits[0].title}
                class="benefit-img"
            />
            <h3 id="benefit-title">{benefits[0].title}</h3>
            <p id="benefit-description">{benefits[0].description}</p>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll(".benefit-btn");
        const title = document.getElementById("benefit-title");
        const description = document.getElementById("benefit-description");
        const image = document.getElementById(
            "benefit-image",
        ) as HTMLImageElement;

        if (!title || !description || !image || buttons.length === 0) {
            return;
        }

        buttons.forEach((button) => {
            button.addEventListener("click", () => {
                buttons.forEach((btn) => btn.classList.remove("active"));
                button.classList.add("active");

                // Obtener los valores desde los atributos `data-*`
                const newTitle = button.getAttribute("data-title");
                const newDescription = button.getAttribute("data-description");
                const newImage = button.getAttribute("data-image");

                if (newTitle && newDescription && newImage) {
                    title.textContent = newTitle;
                    description.textContent = newDescription;
                    image.src = newImage;
                }
            });
        });

        buttons[0].classList.add("active");
    });
</script>

<style>
    #services {
        padding: 80px 20px;
        text-align: center;
        /* background: linear-gradient(
            to bottom,
            #e3e3e3,
            #ffffff
        );*/
        position: relative;

        background:
            url("/assets/Services/costelacion.svg") no-repeat center
                calc(50% - 57px),
            linear-gradient(to bottom, #eeeeee, #eeeeee);
    }

    h2 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    .services-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        max-width: 100% !important; /* 游댳 Evita que se expanda m치s all치 del ancho disponible */
        overflow: hidden !important;
    }

    .service-card {
        background: #ffffff00;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgb(0 0 0 / 0%);
        width: 300px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
    }

    .service-card:hover {
        transform: scale(1.05);
    }

    .service-icon {
        width: 50%;
        margin-bottom: -20px;
    }

    /* 游댳 Contenedor del gancho */
    .hook-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
        position: relative;
        max-width: 100% !important; /* 游댳 Evita que se expanda m치s all치 del ancho disponible */
        /* overflow: hidden !important; */
    }

    /* 游댳 Icono al lado izquierdo */
    .hook-icon {
        width: 150px;
        height: 200px;
        animation: pulse 1.5s infinite alternate; /* 游댠 Animaci칩n para que llame la atenci칩n */
    }

    .hook-banner {
        position: relative;
        width: 74%; /* Se adapta al contenedor padre */
        max-width: 100%; /* Ajusta seg칰n necesidad */
        height: 250px; /* Ajusta la altura */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Imagen de fondo */
    .hook-image {
        width: 100%;
        height: 124%;
        object-fit: cover; /* Asegura que la imagen se ajuste bien */
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 1; /* Se coloca detr치s del contenido */
    }

    /* Contenedor del texto y bot칩n */
    .hook-content {
        position: relative;
        z-index: 2; /* Se coloca sobre la imagen */
        text-align: center;
        color: #e0822c; /* Color del texto */
        padding: 20px;
        font-size: 1.3rem;
    }
    .hook-content a {
        padding: 12px 40px;
        min-width: 200px;
        font-size: 1.2rem;
    }

    /* Estilos del bot칩n */
    .hero-button {
        background: linear-gradient(145deg, #ffffff, #d1d1d1);
        border: none;
        padding: 12px 40px;
        font-size: 1rem;
        border-radius: 8px;
        font-weight: bold;
        box-shadow: 0 5px 15px rgb(37 114 118 / 67%);
        cursor: pointer;
        transition: all 0.3sease-in-out;
        margin-top: 18px;
        text-decoration: none; /* Elimina la l칤nea */
    }

    .hero-button:hover {
        transform: translateY(-2px);
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    }
    /* 游댳 Botones 3D a la izquierda */
    .hero-button {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 10px;
    }

    .benefit-btn {
        background: linear-gradient(145deg, #ffffff, #d1d1d1);
        text-decoration: none;
        border: none;
        padding: 12px 40px;
        font-size: 1rem;
        border-radius: 8px;
        font-weight: bold;
        box-shadow: 0 5px 15px rgb(37 114 118 / 67%);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 18px;
    }

    .benefit-btn:hover {
        transform: translateY(-2px);
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    }

    /* 游댳 Animaci칩n del icono */
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }

    /* 游댳 Contenedor principal de la secci칩n */
    .benefits-container {
        display: flex;
        gap: 60px;
        margin-top: 40px;
        padding: 30px 10%;
        border-radius: 10px;
        max-width: 1200px; /* 游댳 Evita que se salga del contenedor */
        margin-left: auto;
        max-width: 100% !important; /* 游댳 Evita que se expanda m치s all치 del ancho disponible */
        overflow: hidden !important;
    }

    /* 游댳 Botones 3D a la izquierda */
    .benefits-buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 10px;
        min-width: 200px;
    }

    /* 游댳 Bot칩n activo con efecto 3D */
    .benefit-btn.active {
        background: linear-gradient(84deg, #2a5b76, #208675);
        color: white;
        /* box-shadow: 0 6px 15px rgba(255, 107, 107, 0.5); */
        transform: translateY(-3px);
    }

    /* 游댳 Contenido de Beneficios a la derecha */
    .benefits-content {
        flex: 1;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        text-align: left;
        margin-left: 20px;
        max-width: 100% !important; /* 游댳 Evita que se expanda m치s all치 del ancho disponible */
        overflow: hidden !important;
    }

    .benefits-content h3 {
        font-size: 1.5rem;
        color: #5e5c5c;
        margin-bottom: 10px;
    }

    .benefits-content p {
        font-size: 1rem;
        color: #333;
    }
    @media (min-width: 1440px) and (max-width: 2560px) {
        .benefits-container {
            align-items: center;
            margin-top: 60px;
            padding: 40px 22%;
        }

        .benefits-buttons {
            flex-direction: column;
            gap: 15px;
            min-width: 200px;
        }

        .benefit-btn {
            font-size: 1rem;
            /* padding: 10px 15px; */
        }

        .benefits-content {
            text-align: center;
            max-width: 100% !important; /* 游댳 Evita que se expanda m치s all치 del ancho disponible */
            overflow: hidden !important;
        }
        .hook-content {
            position: relative;
            z-index: 2; /* Se coloca sobre la imagen */
            text-align: center;
            padding: 20px;
            font-size: 2rem;
            text-shadow: 2px 2px 6px rgb(255 235 235 / 36%);
            right: 30px;
        }
        .hook-image {
            width: 96%;
            height: 140%;
            object-fit: cover; /* Asegura que la imagen se ajuste bien */
            position: absolute;
            top: 10px;
            left: 26px;
            z-index: 1; /* Se coloca detr치s del contenido */
        }
    }
    @media (min-width: 1200px) and (max-width: 1440px) {
        .benefits-container {
            align-items: center;
            margin-top: 60px;
            padding: 40px 20%;
        }

        .benefits-buttons {
            flex-direction: column;
            gap: 15px;
            min-width: 200px;
        }

        .benefit-btn {
            font-size: 1rem;
            padding: 10px 15px;
        }

        .benefits-content {
            text-align: center;
            max-width: 100% !important; /* 游댳 Evita que se expanda m치s all치 del ancho disponible */
            overflow: hidden !important;
        }
        .hook-image {
            width: 96%;
            height: 124%;
            object-fit: cover; /* Asegura que la imagen se ajuste bien */
            position: absolute;
            top: 10px;
            left: 0;
            z-index: 1; /* Se coloca detr치s del contenido */
        }
        .hook-content {
            position: relative;
            z-index: 2; /* Se coloca sobre la imagen */
            text-align: center;
            padding: 20px;
            font-size: 1.5rem;
            text-shadow: 2px 2px 6px rgb(255 235 235 / 36%);
            right: 30px;
        }
    }

    @media (max-height: 800px) and (min-width: 1023px) and (max-width: 1200px) {
        .hook-image {
            width: 104%;
            height: 107%;
            object-fit: cover; /* Asegura que la imagen se ajuste bien */
            position: absolute;
            top: 10px;
            left: 0;
            z-index: 1; /* Se coloca detr치s del contenido */
        }
        .hook-content {
            position: relative;
            z-index: 2; /* Se coloca sobre la imagen */
            text-align: center;
            padding: 20px;
            font-size: 1.5rem;
            text-shadow: 2px 2px 6px rgb(255 235 235 / 36%);
        }
    }
    /* 游댳 Responsivo */
    @media (max-width: 768px) {
        .benefits-container {
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .benefits-buttons {
            flex-direction: row;
            gap: 15px;
            min-width: 200px;
        }

        .benefit-btn {
            font-size: 0.9rem;
            padding: 10px 15px;
        }

        .benefits-content {
            text-align: center;
            max-width: 100% !important; /* 游댳 Evita que se expanda m치s all치 del ancho disponible */
            overflow: hidden !important;
        }
        .hook-container {
            flex-direction: column;
            text-align: center;
        }

        /* .hook-icon {
            width: 60px;
            height: 60px;
        } */

        .hook-banner {
            font-size: 1rem;
            padding: 0px 20px;
        }
        .hook-image {
            width: 112%;
            height: 90%;
            object-fit: cover; /* Asegura que la imagen se ajuste bien */
            position: absolute;
            top: 20px;
            left: 0;
            z-index: 1; /* Se coloca detr치s del contenido */
        }
        .hook-content {
            position: relative;
            z-index: 2; /* Se coloca sobre la imagen */
            text-align: center;
            padding: 20px;
            font-size: 1.5rem;
            text-shadow: 2px 2px 6px rgb(255 235 235 / 36%);
        }
    }

    @media (max-width: 480px) {
        .benefits-container {
            gap: 60px;
            margin-top: 30px;
        }

        .hook-image {
            width: 110%;
            height: 90%;
            object-fit: cover; /* Asegura que la imagen se ajuste bien */
            position: absolute;
            top: 20px;
            left: 0;
            z-index: 1; /* Se coloca detr치s del contenido */
        }
        .hook-content {
            position: relative;
            z-index: 2; /* Se coloca sobre la imagen */
            text-align: center;
            padding: 0px;
            font-size: 1.4rem;
            text-shadow: 2px 2px 6px rgb(255 235 235 / 36%);
        }
        /* .hook-icon {
            width: 45%;
            height: 60%;
        } */
    }
</style>
